@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: bold;
    src: url('Tangerine_Bold.ttf')
}

@mixin small-screen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

html {
    font-size: 200%;
}

body {
    display: grid;
    grid-template-columns: auto max-content auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0.5em;

    padding: 0;
    margin: 0;

    @media (prefers-color-scheme: light) {
        color: #bb1200;
        background-color: black;
    }

    @media (prefers-color-scheme: dark) {
        color: #bb1200;
        background-color: black;
    }

    @include small-screen {
        grid-template-columns: auto;

        @media (prefers-color-scheme: light) {
            color: #FF3400;
            background-color: black;
        }
        @media (prefers-color-scheme: dark) {
            color: #FF3400;
            background-color: black;
        }
    }
}

div.poem {
    grid-column: 2;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;

    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    line-height: 1.25;

    @media (prefers-color-scheme: light) {
        border: 2px solid #330000;
    }

    @media (prefers-color-scheme: dark) {
        border: 2px solid #330000;
    }

    @include small-screen {
        grid-column: 1;

        @media (prefers-color-scheme: light) {
            border-color: #FF3400;
        }
        @media (prefers-color-scheme: dark) {
            border-color: #FF3400;
        }
    }

    p {
        padding: 0;
        margin: 0;
    }
}

div.copyright {
    grid-column: 2;
    
    font-size: 10%;
    text-align: center;
}
